html {
  box-sizing: border-box;
  line-height: 1.5rem;
  font-family: Georgia;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.link-card {
  display: inline-block;
  border: 3px solid #9a816d;
  background-color: #dcd4cd;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.link-card:hover {
  background-color: #cabdb2;
}

body {
  margin: 0;
}

h2 {
  font-family: Dosis, sans-serif;
  color: #512200;
}

.link-card h2 {
  font-weight: bold;
}

p {
  color: #512200;
}

dl {
  color: #512200;
}

dt {
  float: left;
  width: 50%;
}

dd {
  font-style: italic;
}

.btn {
  display: inline-block;
  background-color: #785439;
  color: #f0eee8;
  text-align: center;
  border-radius: 3px;
  padding: .4em .75em .5em;
}

.btn:hover {
  background-color: #512200;
}
